<div class="auto-menu">
    <div class="container">
        <div class="region region-automenu">
            <section
                class="views-element-container taxonomy-block-menu settings-tray-editable block block-views block-views-blockmenyu-taksonomii-block-1 clearfix"
                id="block-views-block-menyu-taksonomii-block-1" data-drupal-settingstray="editable">



                <div class="form-group">
                    <div
                        class="view view-menyu-taksonomii view-id-menyu_taksonomii view-display-id-block_1 js-view-dom-id-dcfefa224aae4206d8dfb35b3dd54222c91569a4f195575255ae7ee447051034">



                        <div class="view-content">
                            <div class="views-row"><a href="{% url 'smallCars' %}">
                                    <span class="image"> <img loading="lazy" src="{% static './index_files/banner-gle.png' %}"
                                            width="330" height="248" alt="" typeof="Image"
                                            class="img-responsive">


                                    </span>
                                    <span class="name">Легковые автомобили</span>
                                </a></div>
                            <div class="views-row"><a
                                    href="{% url 'commericalCars' %}">
                                    <span class="image"> <img loading="lazy" src="{% static './index_files/banner-gle2.png' %}"
                                            width="330" height="248" alt="" typeof="Image"
                                            class="img-responsive">


                                    </span>
                                    <span class="name">Коммерческие автомобили</span>
                                </a></div>
                            <div class="views-row"><a href="{% url 'truck' %}">
                                    <span class="image"> <img loading="lazy" src="{% static './index_files/banner-gle3.png' %}"
                                            width="330" height="248" alt="" typeof="Image"
                                            class="img-responsive">


                                    </span>
                                    <span class="name">Грузовые автомобили</span>
                                </a></div>
                            <div class="views-row"><a href="{% url 'probeg-cars' %}">
                                    <span class="image"> <img loading="lazy" src="{% static './index_files/banner-gle4.png' %}"
                                            width="330" height="248" alt="" typeof="Image"
                                            class="img-responsive">


                                    </span>
                                    <span class="name">Автобусы</span>
                                </a></div>

                        </div>

                    </div>
                </div>

            </section>

            <section id="block-blokavtomobilisprobegom"
                class="block-auto-probeg settings-tray-editable block block-block-content block-block-content66d7063a-b214-49bb-ae3e-bb6e6a7edc95 clearfix"
                data-drupal-settingstray="editable">




                <div
                    class="field field--name-body field--type-text-with-summary field--label-hidden field--item">
                    <a href="{% url 'probeg-cars' %}">
                        <span class="image">
                            <img alt="" data-entity-type="file"
                                data-entity-uuid="1427c55b-e09b-4e01-857e-c4386fdeb92e" height="180"
                                src="{% static './index_files/business-unit-switch-pkw.png' %}" width="240">
                        </span>
                        <span class="name">Автомобили с пробегом</span>
                    </a></div>

            </section>


        </div>

    </div>
</div>