{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Зарегистрироваться</title>
    <link rel="stylesheet" href="{% static './sign/login.css' %}">
    <link rel="websise icon" type="webp" href="{% static 'img/room/logokia.webp' %}">
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body><br>
    <div class="signup-box">
      <h1>Зарегистрироваться</h1>
      <form method="POST">
        {% csrf_token %}
        {% for field in form %}
        <label>{{field.label}}</label>
        {{field}}
        {% endfor %}
<br>

<button class="but-input">Отправить</button>
<button class="but-input"> <a class="a" href="{% url 'home' %}" >  Отмена</a></button>

      <p class="para-2">
       <a class="at" href="{% url 'sign_in' %}">Войти здесь</a><br><br>
        Ваш пароль должен начинаться с заглавной буквы и содержать запятые и цифры
      </p>
    </div>
  </form>
  </body>
</html>